.bg-image{
  background-image: url("");
  height: 60vh;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center top;
  background-attachment: fixed;
  animation: changeBackground 20s linear infinite;
}
@keyframes changeBackground {
   0% { background-image: url("/slider2.png")}
   50% { background-image: url("/slider3.jpg")}
   100% { background-image: url("/slider1.webp")}
}
.bg-image .cortina{
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 10, .4);
}
/* .info{
  max-width: 600px;
} */
.info h1{
    font-size: 50px !important;
}
.img-home{
  width: 100% !important;
  height: 100%;
  object-fit: cover;
  right: 0;
  left: 0;
  z-index: -1;
  
}
.bg-imagen-home{
  /* background-color: aqua !important; */
  height: 300px !important;

}

.cortina-imagen-home {
  background-color: rgba(0, 0, 10, .4);
  height: 0 !important;
  visibility: hidden;
}
.bg-imagen-home:hover .cortina-imagen-home{
  transition: all .3s ease;
  height: 100% !important;
  visibility: visible;

}
.image-circle{
  width: 100px !important;
  height: 100px !important;
}
.imagen-animation{
  animation: upDown 1s alternate infinite;
  /* transition: all .10s ease-in-out; */
}
@keyframes upDown {
  0%{ transform: scale(1)}
  100%{ transform: scale(.8)}

}
.taller-balon{
  width: 100px;
  height: 100px;
}
.imagen-about{
  object-fit: cover;
}

.page-item.active .page-link {
  background-color: #D9534F !important;
  border-color: #D9534F !important;
  color: #fff !important;
  border-radius: 0 !important;
}

.react-hooks-paginator .page-item:hover .page-link,
.react-hooks-paginator .page-item.active .page-link {
  background-color: #D9534F !important;
  border-color: #D9534F !important;
  color: #fff;
}

.react-hooks-paginator .page-link {
  border: 1px solid #dee2e6;
  color: #fff;
  margin-left: -1px;
  outline: none;
  padding: 0.5rem 0.75rem;
  text-decoration: none;
  transition: all 0.2s;
}
.social{
  width: 50px !important;
  height: 50px !important;
}